.main {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(/public/assets/chunin\ background.jpg);
    
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }